body {
    height: 100vh;
    background: url('../img/fondos/bg-3.png') no-repeat center center;
    background-size: cover;
}

.titulo{
    color: #fff;
    font-weight: 700;
}

.descripcion{
    color: #fff;
}

.btn-custom {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    border: none;
    color: white;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 10px 20px;
    border-radius: 8px;
}

.btn-custom:hover {
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(255, 75, 43, 0.4);
}

.bienvenida-logo{
    max-width: 400px;
}