<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Página de Bienvenida</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/bienvenida.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <div class="mt-5 pt-5 text-center" data-aos="fade-down" data-aos-duration="2300">
      <img src="assets/img/logos/lg-2.png" alt="Logo de la empresa" class="bienvenida-logo">
    </div>

     <div id="" class="" data-aos="fade-down" data-aos-duration="2600">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="bg-dark text-white">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Empresa</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Ciudad</th>
          </tr>
        </thead>
        <tbody id="contactos-body" class="bg-white"></tbody>
      </table>

    </div>
  </div>

    <div class="my-5 text-center" data-aos="fade-down" data-aos-duration="3000">
      <a href="/dashboard" class="btn btn-custom btn-lg rounded-3">Regresar</a>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="/assets/js/tablaCompleta.js"></script>

</body>
